.organization {
  &.new.org {
    #create-page-form();

    form {
      .header {
        padding-left: 0 !important;
        text-align: center;
      }
    }
  }

  &.options {
    input {
      min-width: 300px;
    }
  }

  .menu.new-menu.navbar {
    margin-top: -30px !important;
  }

  .header-wrapper {
    background-color: var(--color-navbar);
    padding-bottom: 15px;
  }

  @media @mediaMdAndUp {
    .org-info-wrap {
      flex: 1;
    }
  }

  .org-header {
    display: flex;
    align-items: flex-start;

    .org-avatar {
      width: 100px;
      height: 100px;
      margin-right: 15px;
    }

    #org-info {
      align-self: center;
      flex-grow: 1;
      word-break: break-word;
      min-width: 0;

      .ui.header {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: .5rem;
        margin-right: .5rem;
      }

      .desc {
        margin-bottom: 10px;

        > p {
          font-size: 16px;
          line-height: 26px;
        }
      }

      .meta {
        .item {
          display: inline-block;
          line-height: 26px;
          margin-right: 10px;

          .icon {
            margin-right: 5px;
          }
        }
      }
    }

    .ui.menu {
      white-space: nowrap;
    }
  }

  .teams {
    .item {
      padding: 10px 15px;
    }
  }

  &.teams,
  &.profile {
    .members {
      .ui.avatar {
        width: 48px;
        height: 48px;
        margin-right: 5px;
      }
    }
  }

  &.invite {
    #invite-box {
      margin: 50px auto auto;
      width: 500px !important;

      #search-user-box {
        input {
          margin-left: 0;
          width: 300px;
        }
      }

      .ui.button {
        margin-left: 5px;
        margin-top: -3px;
      }
    }
  }

  &.members {
    .list {
      .item {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid var(--color-secondary);

        .ui.avatar {
          width: 48px;
          height: auto;
          margin-right: 1rem;
          align-self: flex-start;
        }

        .meta {
          line-height: 24px;
          word-break: break-word;
          min-width: 2em;
        }
      }
    }
  }

  &.teams {
    .detail {
      .item {
        padding: 10px 15px;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-secondary);
        }
      }
    }

    .repositories,
    .members {
      .item {
        padding: 10px 20px;
        line-height: 32px;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-secondary);
        }

        .button {
          padding: 9px 10px;
        }
      }
    }

    #add-repo-form,
    #repo-multiple-form,
    #add-member-form {
      input {
        margin-left: 0;
      }

      .ui.button {
        margin-left: 5px;
        margin-top: -3px;
      }
    }

    #repo-top-segment {
      height: 60px;
    }
  }
}
