{{template "base/head" .}}
<div class="page-content organization settings webhooks">
	{{template "org/header" .}}
	{{template "org/settings/navbar" .}}
	<div class="ui container">
		{{template "repo/settings/webhook/list" .}}
	</div>
</div>
{{template "base/footer" .}}
